<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jujumap.juju"
    android:versionCode="14"
    android:versionName="1.13"
    >

    <application

        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".JujuMap"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TourListOnline"
            android:label="@string/app_name_download"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
                android:name=".TourListOffline"
                android:label="@string/app_name_select"
                android:screenOrientation="portrait"
                >
        </activity>

        <activity
                android:name=".Settings"
                android:label="@string/app_name_options"
                android:screenOrientation="portrait"
                >
        </activity>

        <activity
                android:name=".WebViewAct"
                android:label="@string/app_name"
                >
        </activity>

    </application>

    <uses-sdk android:minSdkVersion="4"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest> 